li.todo__item {
	display: grid;
	grid-template-columns: auto 1fr auto;
	align-items: center;
}

.todo__btn-container {
	border: 0;
	padding: 4px;
	background: unset;
}

.todo__item--active>span {
	text-decoration: line-through;
}